<p>calculator works!</p>
<strong><p>Calculator</p></strong>
<fieldset>
<div class="a">

<pre>

First Number : <input type="text" #firstNo> <br>

Second Number: <input type="text" #secondNo> <br>

result       : {{result}}

</pre>

<button class="btnadd btn-secondary" (click)="addOperation(firstNo.value, secondNo.value)">Add</button>

<button class="btnsub btn-success" (click)="subOperation(firstNo.value, secondNo.value)">Sub</button>

<button class="btnmul btn-danger" (click)="mulOperation(firstNo.value, secondNo.value)">Mul</button>

<button class="btndiv btn-info" (click)="divOperation(firstNo.value, secondNo.value)">Div</button>

</div>
</fieldset>